.offer
  &__office
    background: url('../img/offer/office.png') no-repeat center / cover
    background-position: center left
    background-size: 116%
    height: 100%
    width: 100%
    margin-left: -16%
  &__list
    position: absolute
    margin-left: 46%
    top: 166px
  &__stage
    display: block
    color: $text
    font-family: 'Futura Demi'
    font-style: normal
    font-weight: 500
    font-size: 17px
    line-height: 21px
    &__one

    &__two
      margin-left: 20%
      margin-top: 79px
    &__three
      margin-left: 27%
      margin-top: 143px
    &__four
      margin-left: 8%
      margin-top: 128px
      margin-right: 21px
  &__modal
    width: 100%
    max-width: 509px
    margin-top: 156px
    &__button
      padding: 1.32rem 3rem !important
      position: absolute
      right: 50px
    &__policy
      margin-top: -45px
    &__dialog
      max-width: 509px
      padding-bottom: 77px !important
    &__title
      font-family: 'Futura Demi'
      font-style: normal
      font-weight: 500
      font-size: 20px
      line-height: 25px
      text-align: center
      margin-top: -8px
      margin-bottom: 37px
      max-width: 297px
      margin-left: auto
      margin-right: auto
  &__bank
    display: flex
    align-items: center
    width: 90%
    margin-top: 26px
    &__image
      width: 24%
      height: 100%
    &__title
      margin-top: -24px
      font-family: 'Futura Demi'
      font-style: normal
      font-weight: 500
      font-size: 20px
      line-height: 25px
      color: $primary
      max-width: 300px


